@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Merriweather:wght@300;400;700;900&family=Roboto:wght@300;400;500;700&display=swap');

/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Arial', sans-serif;
}

a{
    color: #000;
    text-decoration: none;
}


ul, li{
    list-style: none;
}

nav{
    position: relative;
}

:root{
    --main-color: #b52759;
    --color-2: #757575;
}

.grid-2{
    display: grid;
    grid-template-columns: calc(100%/3*2) calc(100%/3);
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.grid-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.title-news a{
    font-family: "Merriweather",serif;
    color: #000;
}

.title-news:hover a{
    color: #087cce;
}

.col-img img{
    width: 100%;
}

.description{
    font-size: 14px;
    line-height: 1.2rem;
    font-weight: 500;
    text-align: justify;
}

.border{
    position: relative;
}

.border::before{
    content: "";
    width: 1px;
    height: 100%;
    background: #e5e5e5;
    position: absolute;
}

.col-desc{
    padding: 20px 16px;
    background: #e5e5e5;
}

.bt{
    border-top: 1px solid #e5e5e5;
}

.header-box{
    display: flex;
    flex-wrap: wrap;
}

.item-news{
    border-top: 1px solid #e5e5e5;
    margin-top: 15px;
    padding-top: 15px;
}

.top-btn{
    height: 32px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-size: 14px;
    color: var(--color-2);
    display: inline-block;
    margin-left: 15px;
}

.top-btn:hover{
    color: #4f4f4f;
    background: #f7f7f7;
}

.ic{
    width: 16px;
    vertical-align: middle;
    margin-top: -3px;
}

.button{
    display: flex;
}

.comment{
    font-size: 10px;
}

/* ================== HEADER ====================== */

/* ===== top-header ===== */

header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10000000;
    background: #fff;
}
.top-header {
    padding: 8.5px 0;
    border-bottom: 1px solid #e5e5e5;
}
.container{
    width: 100%;
    max-width: 1130px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.right{
    display: flex;
}

.top-header .search{
    position: relative;
    margin-left: 15px;
    padding-left: 15px;
}

.top-header .search:before {
    content: "";
    width: 1px;
    height: 24px;
    background: #e5e5e5;
    position: absolute;
    left: 0;
    top: 4px;
}

.top-header #search{
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    border: 1px solid #e5e5e5;
    padding: 0 30px 0 14px;
    margin: 0;
    width: 160px;
    outline: none;
}

.top-header .search button {
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border: none;
}

.top-header .search input:focus {
    border: 1px solid #bdbdbd;
}

.sign-in{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.sign-in .icon{
    margin-right: 5px;
    font-size: 20px;
    color: var(--color-2);
}

.sign-in:hover a{
    color: #087cce;
}

.menu-icon{
    display: none;
}

/* ===== list-menu ===== */
.main-nav {
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
}

.main-nav .list-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-nav .list-menu li a {
    padding: 16.5px 0;
    display: block;
    white-space: nowrap;
    font-weight: 700;
    color: #b53e5a;
}

.all-menu i{
    margin-left: 5px;
    font-size: 16px;
    vertical-align: middle;
}

.list-menu  li{
    position: relative;
}

.list-menu .sub{
    width: 190px;
    padding: 10px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background: #fff;
    border-top: 1px solid var(--main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.list-menu .sub li > a{
    color: #000;
    font-weight: 100;
}

.list-menu .sub li > a:hover{
    text-decoration: underline;
}

.list-menu > li:hover .sub{
    display: block;
}

.list-menu > li:last-child a{
    color: var(--color-2);
}

.sub-menu-wrap{
    display: none;
    position: fixed;
    z-index: 9999999;
    background: #fff;
    line-height: 2rem;
}

.sub-menu-wrap .container::after{
    content: '';
    display: table;
    clear: both;
}

.header-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bdbdbd;
    padding: 13px 0;
}

.header-menu .name-header{
    font-size: 18px;
    line-height: 23px;
    color: #4f4f4f;
    display: inline-block;
    font-family: "Merriweather",serif;
    font-weight: 900;
}

.sub-menu-wrap .content-left{
    width: calc(100% - 160px);
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sub-menu-wrap .content-right{
    width: 160px;
    padding-left: 12px;
    float: right;
    padding-top: 15px;
    border-left: 1px solid #bdbdbd;
}

.sub-wrap, .type-news{
    margin-bottom: 20px;
}

.sub-menu-wrap .sub-wrap li:first-child a{
    font-weight: 700;
}

.type-news a{
    font-weight: 600;
}

.close{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close i{
    font-size: 30px;
}

/* sub menu */
.menu-wrap{
    display: none;
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
}

.menu-wrap .sign-in{
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-wrap .header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu-wrap .drop-down{
    position: absolute;
    top: 70px;
    right: 10px;
    font-size: 35px;
}

.sub-menu-drop{
    display: none;
    padding-left: 10px;
    margin: 0 auto;
    text-align: center;
}

.sub-menu-drop li, .sub-menu-drop a{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

.sub-menu-drop.active-sub{
    display: block;
}

/* ================== MAIN ====================== */
/* ===== TOP STORY ===== */
#below{
    position: relative;
    top: 100px;
}


main .top-story{
    padding-top: 20px;
}

.top-story .col-left{
    width: 75%;
}

.top-story .col-right{
    width: 25%;
}

.top-story .col-img img{
    height: 100%;
}


.top-story .title-news a{
    font-size: 20px;
    line-height: 2rem;
}

.top-story .col-desc .comment{
    color: var(--color-2);
    line-height: 2rem;
}

/* sub-story */

.sub-news{
    margin-top: 20px;
}

.list-sub-new li{
    padding: 10px;
}

.list-sub-new li:first-child{
    padding-left: 0;
}

.list-sub-new li:last-child{
    padding-right: 0;
}

.list-sub-new .title-sub{
    font-family: "Merriweather",serif;
    line-height: 1.5rem;
    font-size: 17px;
}
.list-sub-new .title-sub a{
    color: #000;
}

.list-sub-new .title-sub:hover a{
    color: #087cce;
}

.list-sub-new #gocnhin{
    position: relative;
}

.list-sub-new #gocnhin::before{
    width: 2px;
    height: 100%;
    content: "";
    background: #e5e5e5;
    position: absolute;
    top: 0;
    left: -3px;
}

#gocnhin > a{
    font-size: 14px;
    font-weight: 700;
    color: var(--main-color);
}

#gocnhin .item-news, #gocnhin .comment, #gocnhin .comment .cmt{
    margin-top: 5px;
}

#gocnhin .comment span{
    font-family: "Merriweather",serif;
    font-style: italic;
    font-size: 14px;
    color: var(--color-2);
}

/* ===== MIDDLE STORY ===== */
.middle-story{
    position: relative;
}

.story-1{
    display: flex;
}

.middle-story .container{
    padding-top: 20px;
}

.middle-story::before{
    content: "";
    position: absolute;
    background: #e5e5e5;
    width: calc(100% - 30px);
    height: 1px;
    top: 0;
    left: 15px;
    margin-top: 20px;
}

/* Col left */
.middle-story .col-left{
    width: 35%;
    padding-right: 20px;
    position: relative;
}

.middle-story .col-left::after{
    margin: 30px 0;
    padding: 15px 0;
    width: 2px;
    height: 92%;
    content: "";
    background: #e5e5e5;
    position: absolute;
    top: 0;
    right: 0px;
}

.middle-story .col-right{
    width: 65%;
    padding-left: 20px;
}

.middle-story .title-news{
    font-size: 15px;
    margin-bottom: 10px;
}


.middle-story .item-news:first-child{
    border: none;
}

.middle-story .content-news{
    display: grid;
    grid-template-columns: 35% 65%;
}


.content-news .news-image img{
    width: 100%;
    max-width: 145px;
}

.content-news .description{
    padding: 0 10px;
}

/* Col right */
.middle-story .col-right .box-category{
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 20px;
    color: #222;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
}

.box-category:first-child{
    margin-top: 15px;
    padding-top: 15px;
}


.header-box .title-box{
    font-family: "Merriweather",serif;
}



.header-box .title-box{
    font-size: 18px;
    position: relative;
}

.header-box .title-box:hover a{
    color: #EB7600;
}

.header-box .title-box::before{
    content: "";
    width: 100%;
    height: 1px;
    background: #9f224e;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.header-box .title-box a{
    color: #000;
}

.header-box .sub-box{
    margin-left: 16px;
    font-size: 13px;
    line-height: 1.1538461538;
    font-family: Arial;
    font-weight: 400;
    margin-top: 5px;
}

.header-box .sub-box a{
    color: #4f4f4f;
}

.header-box .sub-box:hover a{
    color: #087cce;
}

.middle-story .col-right .item-news{
    display: flex;
    flex-wrap: wrap;
    border: none;
}

.middle-story .col-right .col-img{
    width: 40%;
}
.middle-story .col-right .col-desc{
    width: 60%;
}

.middle-story .col-desc{
    background: #fff;
    padding-top: 0;
}

.middle-story .list-sub-new .title-sub{
    font-size: 14px;
}


.middle-story .sub-news{
    border-top: 1px solid #e5e5e5;
}

.box-category .content-box .border::before{
    height: 95%;
    left: -10px;
}

/* ===== Section container ===== */
.section-container{
    width: 100%;
    margin-bottom: 10px;
}

.section-container .list-sub-new .border::before{
    left: -1px;
    height: 80%;
}

.section-container .list-sub-new li{
    padding: 20px;
}

.section-container .list-sub-new li:first-child{
    padding-left: 0;
}

.section-container .header-box{
    margin-top: 10px;
}

/* Podcasts */
.section-container .col{
    padding: 20px;
}

.section-container .col:first-child{
    padding-left: 0;
}

.section-container .col:last-child{
    padding-right: 0;
}

.section-container .col .header-box{
    display: flex;
}

.section-container .col.border::before{
    left: -2px;
}

.section-container .col .col-desc{
    padding: 0;
}

.middle-story .grid-3{
    display: flex;
}

/* ===== BOTTOM STORY ===== */
.bottom-story{
    margin-top: 20px;
    padding-top: 10px;
}

.bottom-story .header-box{
    margin-top: 10px;
}

.bottom-story .col:first-child .title-news{
    line-height: 2rem;
}

.bottom-story .border::before{
    height: 95%;
}

.bottom-story .grid-3{
    grid-template-columns: 47% 25% 28%;
}

.bottom-story .col .col-desc{
    background: #fff;
}

.bottom-story .content-box .content-news{
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottom-story .content-box .content-news:first-child{
    padding-top: 0;
}

.bottom-story .content-news a{
    font-size: 15px;
}

/* ===== THÔNG TIN DOANH NGHIỆP ===== */
.business-info .container{
    background: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.business-info .title-box a{
    font-size: 14px;
}


.box h3{
    margin-top: 5px;
}

.box .col-img img{
    width: 100%;
    object-fit: cover;
}

.box .col-img img:hover{
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.2s all linear;
}

.box span{
    font-size: 13px;
}

/* business container */
.business-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.business-container > .box{
    margin-right: 20px;
    min-width: 260px;
}

.business-container > .box .col-img{
    min-width: 260px;
    object-fit: contain;
}

.business-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 10px auto;
}

.arrow-right{
    font-size: 120px;
    position: absolute;
    top: 50px;
    right: 0;
    color: #fff;
    cursor: pointer;
}

.arrow-left{
    font-size: 120px;
    position: absolute;
    top: 50px;
    left: 0;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    display: none;
}

.arrow-left.active{
    display: block;
}

/* ================== FOOTER ====================== */
footer .container{
    font-size: 14px;
    margin-top: 25px;
}

/* ===== footer top ===== */

footer .footer-top{
    border-top: 5px solid #e5e5e5;
    display: flex;
    padding-top: 20px;
}

footer .col{
    display: flex;
}

.footer-top .border::before{
    left: -20px;
}

.footer-top .border>div{
    margin-bottom: 8px;
}

.footer-top .col{
    display: flex;
}

/* .footer-top .border{
    width: 22.73%;
} */

.list-menu-footer{
    width: 170px;
    padding-right: 30px;
    font-size: 14px;
}

.list-menu-footer .item-menu{
    width: 100%;
    margin-bottom: 15px;
}

footer p{
    color: #757575;
    margin-bottom: 6px;
}

.list-menu-footer:first-child .item-menu a{
    font-weight: 600;

}

.list-menu-footer .item-menu a:hover{
    text-decoration: underline;
}

.mail, .ads{
    width: 120px;
    height: 20px;
    line-height: 1.5rem;
}

.ads{
    margin-bottom: 8px;
    margin-right: 10px;
}

.partner{
    display: block;
    line-height: 1.5rem;
}

.contact a:hover{
    color: #087cce;
}

.hotline{
    padding-top: 8px;
    border-top: 1px solid #e0e0e0;
}

.hotline .left{
    float: left;
}

.hotline .right{
    float: right;
    display: block;
}

.hotline strong{
    font-size: 16px;
}

.hotline div>p{
    font-size: 12px;
}

.hotline::after{
    content: "";
    clear: both;
}

/* ===== footer middle ===== */
.footer-middle{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #bdbdbd;
    color: #757575;
    font-size: 14px;
    line-height: 120%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-middle p>a{
    display: flex;
    align-items: center;
}

.footer-middle p>a>span{
    margin-right: 8px;
}

.footer-middle .right{
    align-items: center;
    justify-content: center;
}

.social-media{
    display: flex;
}

.social-media a{
    margin-left: 8px;
}

.social-media i{
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center;
}

.social-media .fb:hover > i{
    background: #3b5999;
    border: 1px solid #3b5999;
    color: #fff;
}

.social-media .twt:hover > i{
    background: #55acee;
    border: 1px solid #55acee;
    color: #fff;
}

.social-media .ytb:hover > i{
    background: #c00;
    border: 1px solid #c00;
    color: #fff;
}

/* ===== footer bottom ===== */
.footer-bottom{
    width: 100%;
    margin: 15px 0;
}

.copyright{
    display: flex;
    justify-content: space-between;
}

.copyright p{
    color: #222222;
}

.copyright .col-1{
    width: 30%;
}

.copyright .col-2{
    width: 40%;
}

.copyright .col-3{
    width: 30%;
    text-align: right;
}

/* ================== RESPONISVE ====================== */
@media (max-width: 1129px){

    #below{
        top: 50px;
    }

    .menu-icon{
        position: absolute;
        top: 15px;
        left: 20px;
        display: block;
    }

    .top-header .logo{
        margin-left: 30px;
    }

    .list-header{
        display: none;
    }

    .sub-menu-wrap.open{
        display: initial;
        height: 100%;
        width: 100%;
    }

    .list-menu-footer{
        width: 145px;
    }
}

@media (max-width: 1004px){

    .footer-top .col{
        flex-wrap: wrap;
    }
    .footer-top .col .list-menu-footer{
        margin-bottom: 10px;
    }
}

@media (max-width: 979px){
    .top-story .col-left{
        width: 100%;
        height: 90%;
    }

    .search{
        display: none;
    }

    .middle-story .story-1 .col-left{
        width: 50%;
    }

    .middle-story .story-1 .col-left::after{
        height: 95%;
    }

    .middle-story .story-1 .col-right{
        width: 50%;
    }

    .box-category .content-box .grid-2{
        display: flex;
        flex-direction: column;
    }

    .box-category .content-box .border::before{
        width: 100%;
        height: 1px;
    }

    .box-category .content-box .item-news{
        margin-top: 0;
    }

    .box-category .item-news > .title-news{
        margin-top: 15px;
    }

    .col-center{
        padding-right: 0 !important;
    }
    
    .middle-story .section-container.grid-3{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .middle-story .section-container.grid-3 .border::before{
        height: 200%;
    }

    .middle-story .section-container.grid-3 .border:last-child::before{
        display: none;
    }

    .middle-story .section-container.grid-3 .border:last-child{
        padding-left: 0;
        padding-right: 20px;
    }

    .bottom-story .grid-3{
        grid-template-columns: repeat(2, 1fr);
    }

    .bottom-story .section-container .col:last-child{
        width: 200%;
        display: flex;
        padding-left: 0;
    }

    .bottom-story .section-container .col:last-child::before{
        display: none;
    }    

    .bottom-story .section-container .col:last-child .grid-2{
        display: flex;
        flex-direction: column-reverse;
    }

    .bottom-story .section-container .col:last-child .content-news{
        padding: 20px;
    }

    .bottom-story .section-container .col:last-child .bt{
        border: none;
    }

    .bottom-story .section-container .col:last-child .content-news:first-child{
        padding-top: 20px;
    }

    .footer-top .list-menu-footer.border::before{
        display: none;
    }

    .footer-middle{
        display: block;
        text-align: center;
    }

    .footer-middle p{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 765px){
    .header-box .sub-box{
        display: none;
    }

    .story-1 .col-right .item-news{
        display: block;
    }

    .story-1 .col-right .col-img,
    .story-1 .col-right .col-desc{
        width: 100%;
    }

    .story-1 .col-right .col-desc{
        padding: 0;
    }
}

@media (max-width: 672px){
    .top-story .col-left .grid-2{
        display: flex;
        flex-wrap: wrap;
    }

    .top-story .col-desc .comment{
        font-size: 10px;
    }

    .top-story .title-news {
        line-height: 1.5rem;
    }

    .top-story .col-desc .description{
        line-height: 1.5rem;
    }

    .footer-top{
        flex-direction: column;
    }

    .footer-top > .border{
        border-top: 1px solid #e5e5e5;
        padding-top: 10px;
        text-align: center;
    }

    .footer-top .download-app > .button{
        justify-content: center;
    }

    .footer-top .contact .grid-2{
        display: block;
    }

    .footer-top .mail{
        margin-right: 10px;
    }

    .bottom-story .col:first-child .title-news {
        font-size: 15px;
        line-height: 1.5rem;
    }

    .middle-story .title-news,
    .bottom-story .content-news,
    .middle-story .list-sub-new .title-sub{
        font-size: 13px;
    }

    .middle-story .title-news{
        margin-bottom: 5px;
    }
}

@media (max-width: 602px){

    .sub-menu-wrap .grid-5{
        padding: 0 3px;
        grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    }

    .latest, .international{
        display: none;
    }

    .story-1, .podcasts .grid-3, 
    .bottom-story .section-container .col:last-child{
        flex-direction: column;
    }

    .story-1 > .col-left, .story-1 >.col-right,
    .podcasts .grid-3 .border{
        padding: 0;
        width: 100% !important;
    }

    .story-1 > .col-left::after,
    .podcasts .grid-3 .border::before{
        display: none;
    }

    .podcasts .list-sub-new .border{
        padding-bottom: 20px !important;
    }
}

@media (max-width: 450px){

    .menu-wrap.open{
        display: block;
    }

    .sub-menu-wrap.open{
        display: none;
    }

    .top-story .col-left .col-desc{
        background: #fff;
        padding-right: 0;
        padding-left: 0;
        border-bottom: 1px solid #e5e5e5;
    }

    .top-story .sub-news .grid-3{
        display: flex;
        flex-direction: column;
    }

    .top-story .sub-news{
        margin-top: 5px;
    }

    .top-story .col-2-top{
        padding-left: 0;
        border-top: 1px solid #e5e5e5;
    }

    .story-1 .item-news:last-child{
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
    }
    
    #gocnhin,
    .middle-story .col-right .sub-news{
        display: none;
    }

    .middle-story .container {
        padding-top: 0;
    }

    .middle-story .title-news{
        font-size: 17px;
    }

    .middle-story .col-right .box-category,
    .middle-story .podcasts {
        border: none;
    }

    .podcasts li:first-child{
        padding-right: 0;
    }

    .podcasts li{
        padding: 10px 0 !important;
    }

    .middle-story .section-container.grid-3, 
    .bottom-story .grid-3{
        display: flex;
        flex-direction: column;
    }

    .section-container .col{
        padding: 0 !important;
    }

    .middle-story .section-container.grid-3 .border::before,
    .bottom-story .col-center::before {
        display: none;
    }
    .bottom-story .section-container .col:last-child {
        width: 100%;
    }

    .bottom-story .section-container .col:last-child .content-news{
        padding-right: 0;
        padding-left: 0;
    }

    .bottom-story .grid-3 .col:first-child{
        margin: 30px 0;
    }

    .footer-top .col .list-menu-footer{
        width: 50%;
    }
}

@media (max-width: 350px){
    .top-header .right{
        display: none;
    }

    .top-header .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
    }
}